* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: Roboto, Ubuntu, 'Helvetica Neue';
      color: #ddd;
      background-color: #ddd;
}

h3,
h2 {
      margin: 10px 0;
      padding: 5px 0;
      color: #2c9aa0;
}

/* main section styles */

.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
}

.main-content {
      flex: 1;
      max-width: 70%;
      padding: 20px;
      background-color: #222831;
      margin-bottom: 20px;
      border-radius: 5px;
}

.main-content h2 {
      text-align: center;
}

.main-content img {
      width: 400px;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 8px;
}

.main-content a {
      text-decoration: none;
      color: #bd2121;
}

.main-content a:hover {
      color: #206f73;
}

.article-img {
      display: flex;
      justify-content: center;
}

p {
      margin: 10px 0;
}

/* sidebar section styles */

.sidebar {
      flex: 1;
      max-width: 25%;
      padding: 20px;
      background-color: #31363F;
      border-radius: 5px;
}

.sidebar .recent-links {
      list-style-type: square;
}

.sidebar .related-topic {
      list-style-type: none;
}

.sidebar ul li a,
.sidebar ul li a:visited {
      color: #ddd;
}

.sidebar ul li a:hover {
      color: #bd2121;
}


@media (max-width: 768px) {
      .container {
            flex-direction: column;
      }

      .main-content,
      .sidebar {
            max-width: 100%;
      }
}

/* footer section styles */

footer {
      text-align: center;
      font-size: 15px;
      background-color: #1a5154;
      font-family: 'Helvetica Neue';
      padding: 10px;
}

footer span {
      padding: 0 10px;
}